:host {
  --text-size: 2rem;
  --text-color: white;
  --duration: 1.5s;
  --duration-step: 0.1s;

  display: flex;
  min-height: 100vh;
  min-height: 100svh;
  background: linear-gradient(to right, var(--secondary, blue), var(--primary, blue));
}

h1 {
  margin: auto;
  font-size: var(--text-size);
  color: var(--text-color);
  text-transform: uppercase;
}

span {
  position: relative;
  top: calc(-2 * var(--text-size));
  display: inline-block;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateX(-90deg);

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation: drop var(--duration) ease-in-out infinite;
      animation-delay: calc($i * var(--duration-step));
    }
  }
}

@keyframes drop {
  10% {
    opacity: 0.5;
  }

  20% {
    opacity: 1;
    top: 0;
    transform: rotateX(-360deg);
  }

  80% {
    opacity: 1;
    top: 0;
    transform: rotateX(-360deg);
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    top: calc(2 * var(--text-size));
  }
}
