<main class="margin-auto gap-1">
  <hgroup>
    <h1>Doyep</h1>
    <h1 class="align-right">Analyzer</h1>
  </hgroup>
  <img class="h-7.5 margin-auto" src="assets/images/logo.png" alt="brain running">
  <div>
    <p class="primary text-center">Welcome !</p>
    <p class="primary text-center">Website is still under construction.</p>
  </div>
  <p class="red">{{ error }}</p>
  <a theme="button" class="strava" [href]="stravaUrl">
    <img src="assets/icon-strava.svg" alt="strava icon">
    <span>Login with Strava</span>
  </a>
</main>
