:host {
  display: flex;
  min-height: 100vh;
  min-height: 100svh;
  padding: 1rem;
  background: white;
}

main {
  width: 22rem;
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: white;
}

.gap-1>*:not(:last-child) {
  margin-bottom: 1rem;
}

hgroup {
  font-family: 'azonix';
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: var(--secondary, blue);
}

h1::first-letter {
  color: var(--primary, blue);
  font-size: 3.75rem;
  line-height: 1;
}

.h-8 {
  height: 8rem;
}

@media (min-width: 481px) {
  :host {
    background: linear-gradient(to right, var(--secondary, blue), var(--primary, blue));
  }
}
