<main class="margin-auto flex-col gap-1">
  <hgroup>
    <h1>Doyep</h1>
    <h1 class="align-right">Analyzer</h1>
  </hgroup>
  <img class="self-center h-8" src="assets/images/logo.png" alt="brain running">
  <div class="text-center primary">
    <p>Welcome !</p>
    <p class="mb-1">Website is still under construction.</p>
    <p class="red hide-empty">{{ error }}</p>
  </div>
  <a theme="button" class="strava" [href]="stravaUrl">
    <img src="assets/icon-strava.svg" alt="strava icon">
    <span>Login with Strava</span>
  </a>
</main>
